* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* header and navigation style */
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-size: 35px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 40px;
}

.orange-text {
    color: orange;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: orange;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 17px;
    border: 0;

}

/* banner styles */
.header-banner {
    margin: 0px 80px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    color: rgb(43, 42, 42);
    font-size: 30px;
    margin-bottom: 20px;
}

.banner-title {
    color: rgb(43, 42, 42);
    font-size: 50px;
    margin-bottom: 07px;
}

.banner-description {
    color: rgb(53, 49, 49);
    font-size: 15px;
    margin-bottom: 10px;
}

.btn-secondary {
    color: rgb(247, 153, 30);
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 9px 17px;
    border: solid 1px orange;
    margin-left: 20px;
}

/* about me section style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-me {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 160px;
    text-align: center;
    margin-bottom: 100px;
}

.about-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-info {
    margin-top: 30px;
}

.about-info-title {
    color: gray;
    margin-bottom: 5px;
}

.about-info-description {
    font-size: small;
    font-weight: 600;
}

.about-info-container {
    display: flex;
    justify-content: space-evenly;
}

/* what section style  */
.what {
    text-align: center;
    margin-bottom: 50px;
}

.what-title {
    color: rgb(43, 42, 42);
    font-size: 30px;
}

.what-description {
    font-size: 14px;
    width: 700px;
    margin: auto;
    margin-top: 10px;
}

.skill-container {
    display: flex;
    gap: 30px;
    text-align: left;
    margin-top: 40px;
}

.skill-title {
    color: rgb(54, 49, 49);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-secribtion {
    color: gray;
    font-size: 16px;
}

.skill {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* resume section style */
.resume-section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.resume-flex-container {
    display: flex;
    gap: 30px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.resume-title {
    color:rgb(53, 44, 44);
    font-size: 35px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.resume-headline {
    color: gray;
    font-size: 29px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.resume-note{
    font-size: 19px;
}
.resume-sub{
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 7px;
    color: rgb(70, 69, 69);
}
.resume-description{
    color: grey;
    font-size: 14px ;
}